*.iml
*.json
.gradle
/assets
salt.env
.idea/misc.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.idea/caches/build_file_checksums.ser
.externalNativeBuild
*.jpg
/webrtc/build/.transforms/e65ef6d70743a61fbf3ea2ffab2ee0b7/classes/classes.dex
/webrtc/build/.transforms/e65ef6d70743a61fbf3ea2ffab2ee0b7.bin

app/src/main/assets/fonts/

app/release/
