*.iml
*.json
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/assets
app/src/main/java/io/intelehealth/client/activities/physical_exam_activity/PhysicalExamActivity.java
.idea/misc.xml

.idea/misc.xml

.idea/modules.xml

*.jpg
