*.iml
*.json
.gradle
/assets
salt.env
.idea/misc.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.idea/caches/build_file_checksums.ser
.externalNativeBuild
*.jpg

.idea/
/webrtc/build/
/app/release/
/app/src/main/assets
/webrtc/src/main/assets/config.properties
/app/src/unfpa/assets/
/app/src/kcdo/assets/
/app/src/ida/assets/
