<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:name="org.intelehealth.abdm.abha_create.CreateAbhaAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMobileClient" />

        <activity
            android:name="org.intelehealth.abdm.abha_verify.AbhaCardVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMobileClient" />

    </application>

</manifest>