<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".search.NcdSearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".category.activity.NCDPatientCategoryActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>