<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".player.activity.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".listing.activity.YoutubeListingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>