<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- added support to lenova tab 2 -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="org.intelehealth.msfarogyabharat.app.IntelehealthApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_ibis"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_configuration"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_ibis_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.medicaladvice.MedicalAdviceExistingPatientsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.missedCallResponseActivity.MissCallResponseActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.missedCallResponseActivity.AudioPlayerActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.privacyNoticeActivity.PrivacyNotice_Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_privacy_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.additionalDocumentsActivity.AdditionalDocumentsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_additional_documents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.patientSurveyActivity.PatientSurveyActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_patient_survey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.physcialExamActivity.PhysicalExamActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_physical_exam"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.pastMedicalHistoryActivity.PastMedicalHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.familyHistoryActivity.FamilyHistoryActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_family_history"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.pastMedicalHistoryActivity.PastMedicalHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.pastMedicalHistoryActivity.PastMedicalHistoryActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_past_medical_history"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.questionNodeActivity.QuestionNodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.resolutionActivity.ResolutionActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_past_medical_history"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.questionNodeActivity.QuestionNodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.questionNodeActivity.QuestionNodeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_question_node"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.complaintNodeActivity.ComplaintNodeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_complaint_node"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.identificationActivity.IdentificationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.followuppatients.FollowUpPatientActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:label="@string/title_follow_up"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.IntroActivity.IntroActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.visitSummaryActivity.VisitSummaryActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_visit_summary"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.vitalActivity.VitalsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_vitals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.patientDetailActivity.PatientDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.cameraActivity.CameraActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.activitySync.ActivitySync"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.videoLibraryActivity.VideoLibraryActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_video_library"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.activePatientsActivity.ActivePatientActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_active_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.todayPatientActivity.TodayPatientActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_today_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.searchPatientActivity.SearchPatientActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_search_patient"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.org.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.identificationActivity.IdentificationActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_identification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.settingsActivity.SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.loginActivity.LoginActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.msfarogyabharat.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.splash_activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.intelehealth.msfarogyabharat.activities.setupActivity.SetupActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="false"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <service -->
        <!-- android:name=".services.OnClearFromRecentService" -->
        <!-- android:stopWithTask="false" /> -->
        <service
            android:name="org.intelehealth.msfarogyabharat.utilities.OpenMRSAccountAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="org.intelehealth.msfarogyabharat.services.RunAfterBootService"
            android:enabled="true"
            android:exported="false"
            android:permission="" />

        <receiver
            android:name="org.intelehealth.msfarogyabharat.syncModule.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- commenting out for this helpline: Dated 17 may -->
        <!-- <receiver -->
        <!-- android:name="org.intelehealth.ekalhelpline.utilities.NetworkChangeListener" -->
        <!-- android:enabled="true" -->
        <!-- android:label="NetworkChangeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--        <provider-->
        <!--            android:name="org.intelehealth.msfarogyabharat.activities.searchPatientActivity.SearchSuggestionProvider"-->
        <!--            android:authorities="org.intelehealth.msfarogyabharat.activities.searchPatientActivity.SearchSuggestionProvider"-->
        <!--            android:exported="false" />-->

        <service android:name="org.intelehealth.msfarogyabharat.services.DownloadService" />
        <service android:name="org.intelehealth.msfarogyabharat.services.MyIntentService" />
        <service android:name="org.intelehealth.msfarogyabharat.services.LastSyncIntentService" />
        <service android:name="org.intelehealth.msfarogyabharat.services.UpdateDownloadPrescriptionService" /> <!-- Firebase Services -->
        <service
            android:name="org.intelehealth.msfarogyabharat.services.firebase_services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--        <service-->
        <!--            android:name="org.intelehealth.msfarogyabharat.services.firebase_services.MyFirebaseInstanceIdService"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>