<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.intelehealth.app">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" /> <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- added support to lenova tab 2 -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".app.IntelehealthApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_configuration"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute, LockedOrientationActivity"
        tools:replace="allowBackup">
        <activity
            android:name=".ui2.onboarding.SetupPrivacyNoteActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui2.onboarding.IntroScreensActivityNew"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui2.onboarding.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui2.activities.UIDesignActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui2.activities.HomeScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui2.activities.LoginActivityNew"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui2.activities.ResetPasswordActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui2.activities.ForgotPasswordOtpVerificationActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui2.activities.ForgotPasswordActivityNew"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.prescription.PrescriptionActivity"
            android:configChanges="uiMode"
            android:label="@string/prescription"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.chooseLanguageActivity.ChooseLanguageActivity" />
        <activity
            android:name=".appointment.AppointmentListingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appointment.ScheduleListingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".utilities.RTCMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.intelehealth.client.RTC_MESSAGING_EVENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.privacyNoticeActivity.PrivacyNotice_Activity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_privacy_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.additionalDocumentsActivity.AdditionalDocumentsActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_additional_documents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.patientSurveyActivity.PatientSurveyActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_patient_survey"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.physcialExamActivity.PhysicalExamActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_physical_exam"
            android:parentActivityName=".activities.pastMedicalHistoryActivity.PastMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.familyHistoryActivity.FamilyHistoryActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_family_history"
            android:parentActivityName=".activities.pastMedicalHistoryActivity.PastMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.pastMedicalHistoryActivity.PastMedicalHistoryActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_past_medical_history"
            android:parentActivityName=".activities.questionNodeActivity.QuestionNodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.questionNodeActivity.QuestionNodeActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_question_node"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.complaintNodeActivity.ComplaintNodeActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_complaint_node"
            android:parentActivityName=".activities.identificationActivity.IdentificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.IntroActivity.IntroActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.visitSummaryActivity.VisitSummaryActivity"
            android:configChanges="orientation|keyboardHidden|uiMode"
            android:label="@string/title_activity_visit_summary"
            android:parentActivityName=".activities.homeActivity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.app.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.vitalActivity.VitalsActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_vitals"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.patientDetailActivity.PatientDetailActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.cameraActivity.CameraActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.activitySync.ActivitySync"
            android:configChanges="uiMode"
            android:label="@string/title_activity_sync"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.videoLibraryActivity.VideoLibraryActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_video_library"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.activePatientsActivity.ActivePatientActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_active_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.todayPatientActivity.TodayPatientActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_today_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.searchPatientActivity.SearchPatientActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_search_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.org.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.app.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.identificationActivity.IdentificationActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_identification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.settingsActivity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|uiMode"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.homeActivity.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.app.activities.homeActivity.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.loginActivity.LoginActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.homeActivity.HomeActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.intelehealth.app.activities.homeActivity.HomeActivity" />

            <intent-filter>
                <action android:name="FCM_PLUGIN_HOME_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.splash_activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.setupActivity.SetupActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.followuppatients.FollowUpPatientActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="@string/title_follow_up"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <service -->
        <!-- android:name=".services.OnClearFromRecentService" -->
        <!-- android:stopWithTask="false" /> -->
        <service
            android:name=".utilities.OpenMRSAccountAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.RunAfterBootService"
            android:enabled="true"
            android:exported="false"
            android:permission="" />

        <receiver
            android:name=".syncModule.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- <provider -->
        <!-- android:name="org.intelehealth.app.activities.searchPatientActivity.SearchSuggestionProvider" -->
        <!-- android:authorities="org.intelehealth.app.activities.searchPatientActivity.SearchSuggestionProvider" -->
        <!-- android:exported="false" /> -->
        <service android:name=".services.DownloadService" />
        <service android:name=".services.MyIntentService" />
        <service android:name=".services.LastSyncIntentService" />
        <service android:name=".services.UpdateDownloadPrescriptionService" /> <!-- Firebase Services -->
        <service android:name=".services.firebase_services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <receiver -->
        <!-- android:name="org.intelehealth.app.utilities.NetworkChangeListener" -->
        <!-- android:label="NetworkChangeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Firebase Realdb -->
        <receiver
            android:name=".services.firebase_services.CallRTCNotifyReceiver"
            android:exported="false">
            <intent-filter android:priority="100">
                <action
                    android:name="org.intelehealth.app.RTC_MESSAGE_EVENT"
                    android:enabled="true" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.firebase_services.RestartServiceReceiver"
            android:exported="false">
            <intent-filter android:priority="99">
                <action
                    android:name="org.intelehealth.app.RTC_SERVICE_START"
                    android:enabled="true" />
            </intent-filter>
            <intent-filter android:priority="99">
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    android:enabled="true" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.firebase_services.CallListenerBackgroundService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>